{% extends "layout.html" %} 

{% block title %} Buy {% endblock %} 

{% block main %}
<h1>Buy Stock(s)</h1>
<form action="/buy" method="post">
  <div class="form-group">
    <input name="symbol" type="text" class="form-control" placeholder="Symbol" autocomplete="off" autofocus />
  </div>
  <!-- TODO: add label or text that updates the stock price when user updates the symbol field -->
  <div class="form-group">
    <input name="shares" type="text" class="form-control" placeholder="Number of Shares" autocomplete="off" autofocus />
  </div>
  <button class="btn btn-primary" type="submit">Buy</button>
</form>
{% endblock %}
