{% extends "layout.html" %} 

{% block title %} Change Password {% endblock %} 

{% block main %}
<h1>Change Password</h1>
<form action="/changepassword" method="post">
  <div class="form-group">
    <input name="original" type="password" class="form-control" placeholder="Original Password" autocomplete="off" autofocus />
  </div>
  <div class="form-group">
    <input name="new" type="password" class="form-control" placeholder="New Password" autocomplete="off" autofocus />
  </div>
  <div class="form-group">
    <input name="confirmation" type="password" class="form-control" placeholder="Re-enter Password" autocomplete="off" autofocus />
  </div>
  <button class="btn btn-warning" type="submit">Change Password</button>
</form>
{% endblock %}
