{% extends "layout.html" %} 

{% block title %} Delete {% endblock %} 

{% block main %}
<h1>Are you sure you want to delete "{{goal.title}}"?</h1>
<hr/>
<p class="delete-info">
  <strong>Creation Date</strong> - {{ goal.date_created }}
</p>
<p class="delete-info">
  <strong>Goal Description</strong> - {{ goal.description }}
</p>
<p class="delete-info">
  <strong>Reward</strong> - {{ goal.reward }}
</p>
<p class="delete-info">
  <strong>Progress</strong> - {{ goal.num_of_completed }}/{{ goal.num_of_completions_required }}
</p>
<form action="/delete_goal/{{ goal.id }}" method="POST">
  <button class="btn btn-block btn-lg btn-danger" type="submit">Delete Goal</button>
</form> 
{% endblock %}